In [32]:
from math import sqrt
from scipy import stats

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pydataset import data
import statistics

In [5]:
#Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
#A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
#A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days.
#Use a .05 level of significance.

In [6]:
#this would be a two tail test bc we are testing inequality and not > or <.
#two independent samples we are comparing against each other and not against entire population.
      #hypothesis
#hnull = average sales time of office 1 == average sales time of office 2
#Halt = average sales time of office 1 ! = average sales time of office 2.
#normality: we were told they are normal. there are also enough samples to support CLT.
#Variance:

office_1 = stats.norm(90,15).rvs(40)
office_2 = stats.norm(100,20).rvs(50)

In [7]:
x = np.arange(40,150)
h = stats.norm(90,15).pdf(x)
f = stats.norm(100,20).pdf(x)

In [8]:
stat, p_val = stats.levene(office_1,office_2)
if p_val < .05:
    print('we can reject hnull')

we can reject hnull

In [9]:
t_stat,p_val = stats.ttest_ind(office_1,office_2,equal_var = False)

In [10]:
if p_val < .05:
    print('our pval is less than alpha and we can reject null hypothesis which indicates difference in sales time avg')

our pval is less than alpha and we can reject null hypothesis which indicates difference in sales time avg

In [11]:
stats.ttest_ind_from_stats(90,15,40,100,20,50, equal_var = False)

Ttest_indResult(statistic=-2.7091418459143854, pvalue=0.00811206270346016)

In [12]:
p_val

0.005294925536298694

In [13]:
#Load the mpg dataset and use it to answer the following questions:


#Are compact cars more fuel-efficient than the average car?
#Do manual cars get better gas mileage than automatic cars?

In [14]:
mpg = data('mpg')

In [15]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [16]:
#        Is there a difference in fuel-efficiency in cars from 2008 vs 1999

In [17]:
#Two tailed test - looking for inequality
#two independent samples
#we will use ttest_ind

In [18]:
#hnull - fuel efficiency in 2008 cars == to 1999 cars
#halt - fuel efficiecny in 2008 cars != to 1999 cars

In [19]:
mpg['avg_fe'] = stats.hmean(mpg[['cty','hwy']],axis = 1) # DOESNT WORK
fe_2008 = mpg[mpg.year == 2008].avg_fe
fe_1999 = mpg[mpg.year == 2008].avg_fe

In [20]:
#LEVENE TEST:
#hnull - equal variance in avg_fe from 2008 and 1999
#halt - there is inequal variance in avg_fe from 2008 and 1999
sta, p_val = stats.levene(fe_1999, fe_2008)
if p_val < .05:
    print('we can reject null. variance is inequal')

In [21]:
t_stat,P_val = stats.ttest_ind(fe_1999, fe_2008)
t_stat,P_val

(0.0, 1.0)

In [22]:
#         Are compact cars more fuel-efficient than the average car?

In [23]:
#one tailed test. checking if mileage of compact cars is GREATER than all cars avg mileage
#one sample. We are comparing one sample(compact cars) to entire population
#hnull - compact car avg mileabe <= all vehicle avg mileage
#halt - compact car avg mileage > all vehicle avg mileage
# since one tail we use p/2 compared to alpha not just p.
#tstat should be positive

In [24]:
fe_compacts = mpg[mpg['class'] == 'compact'].avg_fe
fe_overall = mpg.avg_fe.mean()

In [25]:
t_stat, p_val = stats.ttest_1samp(fe_compacts, fe_overall)

In [27]:
if t_stat > 0 and ((p_val/2) > .05):
    print('we can reject the null')

In [28]:
#       Do manual cars get better gas mileage than automatic cars?

In [29]:
#one tailed test. Checking if manual cars have BETTER mileage than automatic cars
#two sample test bc comparing MANUAL vs AUTOMATIC. two seperate samples.
#hnull -manual car avg mileage <= automatic car avg mileage
#halt -manual car avg mileage > automatic car avg mileage
#one sample test.

In [30]:
auto_fe = mpg[mpg.trans.str.contains('auto')].avg_fe
manual_fe = mpg[mpg.trans.str.contains('manual')].avg_fe

In [31]:
#LEVENE TEST:
#hnull -equiv var

#halt - nonequiv var
stats.levene(manual_fe,auto_fe)
#cant reject null, var is equal
t , p = stats.ttest_ind(manual_fe, auto_fe)
if t>0 and ((p/2)< .05):
    print('we can reject our null')
else:
    print('we cant reject null')

we can reject our null