In [1]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import math

In [2]:
#A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

#What is the probability that no cars drive up in the noon hour?
#What is the probability that 3 or more cars come through the drive through?
#How likely is it that the drive through gets at least 1 car?

In [3]:
#What is the probability that no cars drive up in the noon hour?
stats.poisson(2).pmf(0)

0.1353352832366127

In [4]:
#What is the probability that 3 or more cars come through the drive through?
stats.poisson(2).sf(2)

0.32332358381693654

In [5]:
#How likely is it that the drive through gets at least 1 car?
stats.poisson(2).sf(0)

0.8646647167633873

In [6]:
#Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

#What grade point average is required to be in the top 5% of the graduating class?
#What GPA constitutes the bottom 15% of the class?
#An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
#If I have a GPA of 3.5, what percentile am I in?

In [7]:
##What grade point average is required to be in the top 5% of the graduating class?
mean = 3.0
stddv= .3
grades = stats.norm(mean,stddv)
grades.isf(.05)

3.4934560880854417

In [8]:
#What GPA constitutes the bottom 15% of the class?
grades.ppf(.15)

2.689069983151863

In [9]:
#An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
grades.ppf(.3)
#yes they would qualify

2.842679846187588

In [10]:
#If I have a GPA of 3.5, what percentile am I in?
grades.sf(3.5)

0.0477903522728147

In [11]:
#A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?
clickthrough = stats.binom(4326, .02)
clickthrough.sf(96)

0.13975823631416445

In [12]:
#You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.
#What is the probability that at least one of your first 60 answers is correct?
chance_of_success = 1/100
trials = 60
test = stats.binom(trials,chance_of_success)
test.sf(0)

0.45284335760923855

In [13]:
#he codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day?
visitors = (22 * .9) * 3
clean = stats.binom(visitors,.03)
clean.sf(0)

0.8362274861228872

In [14]:
#how likely is it that it doesnt get cleaned in two days?
clean_two = stats.binom((visitors * 2), .03)
clean_two.cdf(0)

0.026821436301629083

In [15]:
#all week?
math.pow(clean.cdf(0),5)

0.00011781621791055157

In [16]:
#You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class?
mean = 15
stddv = 3
ppl_in_line = stats.norm(mean,stddv)
ppl_in_line.cdf(16)
#I did the math in my head but only 16 people can be in line in front of you and leave you 15 minutes

0.6305586598182363

In [17]:
import pandas as pd
import env

url = f'mysql+pymysql://{env.username}:{env.password}@{env.host}/employees'
pd.read_sql('SELECT * FROM departments', url)

ModuleNotFoundError: No module named 'pymysql'